:root{
    --padding-key: 13px;
    --padding-key-h: 6px;
    --title-left: 30%;
    --letter-not: #787c7e;
    --letter-is: #c9b458;
    --letter-correct: #6aaa64;
    --overlay: rgba(255, 255, 255, 0.5);
    --btn-color: #6AAA64;
    --dialog-game-over-title: #DF2E38;
    --dialog-game: #6AAA64;
    --bg-color: #F7F1E5; 
}


.header{
    display: flex;
    padding: 5px;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    min-width: 292px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1430px;
    margin: 0 auto;
    min-width: 310px;
    overflow: auto;
    background-color: var(--bg-color);
}

body,
.key{
    font-family: 'Roboto Mono', monospace;
}


.title{
    width: 100%;
    display: block;
    font-size: 22px;
    text-align: center;
    letter-spacing: 4px; 
    font-weight: bold; 
    font-family: 'Climate Crisis', cursive; 
}

.grid{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.grid-td, 
.guess{
    border: 2px solid #4444;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}

.grid-td{
    width: 45px;
    height: 45px;
}

.grid-container{
    border-spacing: 5px;
}

.key{
    display: inline-block;
    font-weight: bold;
    padding: var(--padding-key) var(--padding-key-h);
    border-radius: 3px;
    background-color: #d3d6da;
    cursor: pointer;
}

.keyboard{
    margin: auto 10px 10px 10px;
   
}

.keyboard-tr{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.key-special{
    text-align: center;
}

.key-deleted img{
    width: 20px;
}


.message__overlay{
    background-color: var(--overlay);
    display: grid;
    place-items: start center;
    padding: 8px;
    min-height: 100vh;
}

.message{
    position: fixed;
    width: 100vw;
    max-width: 1440px;
}

.message__container{
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0 4px 0;
    overflow-y: auto;
    width: 80%;
    max-width: 400px;
    font-size: 13px;
    padding: 30px;
}

.message__close{
    text-align: right;
}

.close{
    font-size: 22px;
    font-weight: bold;
    margin: 0 10px;
    background: none;
    border: 0;
    cursor: pointer;
}

.instructions{
    margin-left: 20px;
    padding: 0;
}

.instructions__item{
    margin: 10px 0;
}

.message__title{
    margin-bottom: 0;
}

.description{
    margin-top: 5px
}

.wordle-example{
    display: flex;
    gap: 4px;
}

.guess{
    width: 35px;
    height: 35px;
    display: grid;
    font-weight: bold;
    place-content: center;
}

.answer__text{
    padding: 5px;
    border: 3px dotted;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.answer{
    margin-top: 10px;
    margin-bottom: 40px;
}

.message--dialog{
    text-align: center;
}

.btngame{
    background-color: var(--btn-color);
    padding: 13px;
    border: 0;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

.description--dialog{
    margin-top: 20px;
    font-weight: bold;
}

.message__title--dialog{
    color: var(--dialog-game-over-title);
    font-size: 18px;
}

.message--victory .message__title--dialog{
    color: var(--dialog-game);
}

.text-white{
    color: white;
}

.letter-is{
    background-color: var(--letter-is);
}

.letter-correct{
    background-color: var(--letter-correct);
}

.letter-not{
    background-color: var(--letter-not);
}

.hidden{
    display: none;
}

.animateLetteer{
    animation: jello-horizontal .1s ease;
}


.active-border{
    border-color: #44444473;
}

@media screen and (min-width: 360px){
    :root{
        --padding-key-h: 9px;
        --padding-key: 15px;
    }
}

@media screen and (min-width: 768px){
    :root{
        --padding-key: 15px;
        --padding-key-h: 10px; 
    }
}

@media screen and (min-width: 1024px){
    :root{
        --padding-key: 15px;
    }
}

@media screen and (min-width: 1440px){

    :root{
        --padding-key: 20px;
        --padding-key-h: 17px;
    }

    body{
        margin-top: 20px;
    }

    .grid-td{
        width: 60px;
        height: 60px;
    }

    .title{
        font-size: 30px;
    }

    .keyboard{
        margin: 40px
    }

    .grid{
        margin-top: 40px;
    }
}
/* ----------------------------------------------
 * Generated by Animista
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- **/
 
 @-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  
  
  
  
  